
/*General*/

body {
  font-family: 'Arial';
  width: 85%;
  margin: 0 auto;
}

/*Pink Nav Bar*/

.top_nav {
  display: flex;
  justify-content: flex-start;
  background-color: #ffb4b0;
  border: 2px solid black;
  padding: 1em;
  margin: 1em 0;
}

.link {
  margin: 0 .25em;
}

/*Container for Blue and Yellow*/

#container {
  display: flex;
  flex-flow: row nowrap;
}

/*Blue Nav Bar*/

#left_bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background-color: #4dd7fa;
  border: 2px solid black;
  padding: 1em;
  margin-right: 1em;
  width: 20%;
}

/*Blue Bar Elements*/

ul {
  list-style-type: none;
}

select {
  font-family: 'Arial';
  font-size: .9em;
}

li {
  display: flex;
  flex-wrap: nowrap;
}

.checkbox-container {
  display: flex;
  flex-flow: row nowrap;
}

.checkbox-left {
  display: flex;
  flex-flow: column nowrap;
}

.checkbox-right {
  display: flex;
  flex-flow: column nowrap;
}

.filter {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  padding: .2em 0;
  font-size: 1em;
  background-color: white;
  border-radius: 6px;
  border: 2px solid black;
}

/*Yellow Box*/

#yellow_block {
  background-color: #fefac0;
  border: 2px solid black;
  padding: 0 1em 1.2em 1.5em;
  width: 80%;
}

/*Yellow Box Elements*/

#yellow_block h2 {
  color: #785616;
  font-weight: normal;
}
#yellow_block p {
  color: black;
  font-size: .9em;
  line-height: .4em;
}

/*Purple Box*/

#purple_block {
  display: none;
  display: flex;
  width: 100%;
  background-color: #FF9BFF;
  border: 2px solid #3D263E;
  justify-content: center;
  padding: 1em;
  font-size: 1.2em;
}

#purple_block fieldset{
  display: flex;
  flex-direction: column;
  line-height: 2em;
}

#add_button {
  padding: .3em .5em;
  margin: 1em auto;
  font-size: 1.2em;
}

